@import '../../../../style/abstract/variables.scss';

.filter__infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    padding-top: 10px;
    margin: 0 auto;
    .filter__infos--type{
        font-size: 24px;
        font-weight: bold;
    }
}

